<h1>Products</h1>

<a href="/products/new">Add Product</a>

<table id="products">
  <tr>
    <th>Name</th>
    <th>SKU</th>
    <th>Location</th>
    <th>Inventory</th>
  </tr>
  <% @products.each do |product| %>
    <tr class="product">
      <td><%= product.name %></td>
      <td><%= product.sku %></td>
      <td><%= product.aisle %>-<%= product.bin %></td>
      <td><%= product.inventory %></td>
    </tr>
  <% end %>
</table>
